body {
  margin: 0px;
  background-color: Cornsilk;
}

div.Start {
  padding-bottom: 48px;
}
div.Start .title {
  float: left;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 250%;
}
div.Start .quote {
  float: right;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  padding-top: 15px;
  padding-right: 10px;
}

nav {
  overflow: hidden;
  background-color: rgb(55, 55, 55);
}
nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
nav a.about {
  float: right;
}
nav a:link {
  background-color: rgb(55, 55, 55)
}
nav a:visited {
  background-color: rgb(102, 0, 102);
}
nav a:hover {
  background-color: rgb(23, 39, 39);
}
nav a:active {
  background-color: rgb(102, 204, 255)
}

h2.ListsTitle {
  border-bottom: 1px solid rgb(177, 166, 166);
  border-top: 1px solid rgb(177, 166, 166);
  margin: 25px auto;
  width: 40%;
  padding: 10px;
  text-align: center;
}

section.Lists ul {
  margin: 25px auto 0px;
  width: 28%;
  list-style-image: url("https://www.fasten.it/img/icon_16_pointer.png");
  list-style-type: none;
  list-style-position: outside;
}
section.Lists ul li ol {
  list-style: decimal-leading-zero outside none;
  padding-top: 10px;
  padding-bottom: 10px;
}

p.ShopNote {
  orphans: 5; /*currently not useful but in case the note is longer it will be*/
  widows: 5; /*currently not useful but in case the note is longer it will be*/
  margin: 0px auto 10px;
  padding: 25px 0px;
  width: 100%;
  text-align: justify;
  text-indent: 48px;
}

pre.BigQuote {
  padding-top: 25px;
  margin: 0px auto 25px;
  width: 20%;
  border-style: solid;
  border-color: red green blue yellow;
  color: rgb(26, 6, 53);
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
  font-family: "Times New Roman";
  font-size: 18px;
  font-weight: bold;
  font-variant: normal;
}

caption.TableCaption {
  border-bottom: 1px solid rgb(177, 166, 166);
  border-top: 1px solid rgb(177, 166, 166);
  margin: 25px auto;
  width: 40%;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

img {
  border-radius: 8px;
}

td figure {
  background-image: url("https://www.deko.ee/media/deko/.product-image/thumbnail/product/www.erply.net/3344-fd40049__copy_.jpg");
  background-repeat: repeat;
}

input:focus {
  background-color: yellow;
}

.submitButton {
  text-align: center;
}

table tr td figure img {
  vertical-align: baseline;
}

.column1 {
  page-break-before: always;
  page-break-after: always;
  padding-top: 40px;
  overflow: hidden;
  display: table;
  margin: 0px auto;
}
.column1 table {
  caption-side: top;
}
.column1:after {
  padding-top: 40px;
  content: "";
  display: table;
  clear: both;
}

.column2 {
  page-break-after: avoid;
  overflow: hidden;
  display: table;
  margin: 0px auto;
}
.column2 table {
  caption-side: top;
  border-style: none;
  border-spacing: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div.jump {
  margin-top: 20px;
  text-align: center;
}
