h3 {
  text-align: center;
  font-size: 50px;
}
title {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 50px;
}
body {
  background-color: Cornsilk
  }
table, th, td {
  padding: 5px 10px;
  background-color: White;
  border: 1px solid black;
  border-collapse: collapse;
}

h1.Method {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid Black;
  margin: 50px auto;
  width: 40%;
  padding: 10px;
  text-align: center;//check how does it work
}
h2.What_Does {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 400px;
}
div.Description {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 400px;
}
