h3 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 2px solid black;
  margin: 50px auto;
  width: 50%;
}
title {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 50px;
}
body {
  background-color: Cornsilk;
  }
table, th, td {
  padding: 5px 10px;
  background-color: White;
  border: 1px solid black;
  border-collapse: collapse;
}

h1.Method {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid Black;
  margin: 100px auto 15px;
  width: 40%;
  padding: 30px 10px 5px;
  text-align: center;
  font-size: 40px;
}
h2.Method {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
}
p.Description {
  font-family: "Times New Roman", Times, serif;
  padding: 60px 400px 20px;
  font-size: 20px;
}
p.Example {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 400px;
}
